.intro__cta {
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    transition: opacity 350ms;

    &:hover {
        opacity: 0.85;
    }
}

.description__like .fa-solid {
    position: absolute;
}

.description__like .fa-regular {
    position: relative;
}

.heart-icon,
.heart-icon-solid {
    font-size: 22px;
}

.description__like {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
}

.heart-icon-solid {
    transform-origin: bottom;
    transform: scale(0);
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.like__checkbox {
    display: none;
}

.like__checkbox:checked+.description__like .heart-icon-solid {
    animation: like 0.7s cubic-bezier(0.87, 0.01, 0.38, 1.01) forwards;
}

.like__checkbox:not(:checked)+.description__like .heart-icon-solid {
    animation: unlike .75s 50ms ease forwards;
}

.like__checkbox:checked+.description__like .heart-icon {
    animation: like--BG 1s ease forwards;
}

@keyframes like {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes like--BG {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes unlike {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}