* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --ter-color: #99E2D0;
}

p {
  margin: 0px;
}

body {
  margin: 0px;
}

.intro__cta {
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: opacity 350ms;
}
.intro__cta:hover {
  opacity: 0.85;
}

.description__like .fa-solid {
  position: absolute;
}

.description__like .fa-regular {
  position: relative;
}

.heart-icon,
.heart-icon-solid {
  font-size: 22px;
}

.description__like {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
}

.heart-icon-solid {
  transform-origin: bottom;
  transform: scale(0);
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like__checkbox {
  display: none;
}

.like__checkbox:checked + .description__like .heart-icon-solid {
  animation: like 0.7s cubic-bezier(0.87, 0.01, 0.38, 1.01) forwards;
}

.like__checkbox:not(:checked) + .description__like .heart-icon-solid {
  animation: unlike 0.75s 50ms ease forwards;
}

.like__checkbox:checked + .description__like .heart-icon {
  animation: like--BG 1s ease forwards;
}

@keyframes like {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes like--BG {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes unlike {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
/****** Header ***********/
header {
  position: relative;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__localisation {
  display: flex;
  font-size: 16px;
  justify-content: center;
  gap: 15px;
  background-color: #EAEAEA;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fleche {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fleche a {
  color: black;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 1s;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 5%;
    visibility: hidden;
  }
}
.intro {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.intro__title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.intro__description {
  font-size: 18px;
  text-align: center;
}

@media (min-width: 1024px) {
  .intro__title {
    font-size: 40px;
  }
}
.fonctionnement {
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 20px;
  display: grid;
  justify-content: center;
  width: 97%;
}
.fonctionnement__desktop {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.fonctionnement__liste-etape .fa-solid {
  color: #7e7e7e;
}

.fonctionnement__liste-etape {
  display: flex;
  gap: 15px;
  margin-left: 14px;
  flex-direction: column;
}

.fonctionnement__liste-etape .fa-store {
  color: var(--main-color);
}

.fonctionnement__liste-etape--box {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-right: 20px;
  width: 280px;
}

.fonctionnement__liste-etape--box-cercle {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 24px;
  margin-left: -31px;
}

@media (min-width: 1024px) {
  .fonctionnement {
    padding-left: 0px;
    margin-left: 0px;
  }
  .fonctionnement__liste-etape--box {
    margin-right: 0px;
    padding: 20px 12px 20px 20px;
  }
  .fonctionnement__liste-etape {
    gap: 25px;
    flex-direction: row;
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.restaurants__titre {
  padding-top: 30px;
}

.restaurant__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__list a {
  color: #000;
  text-decoration: none;
  width: 330px;
  height: 241px;
}

.restaurant__list--card {
  width: 330px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}
.restaurant__list--card img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description__text {
  font-size: 17px;
  margin: 10px;
}

.description__text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.btn__like {
  align-content: center;
  margin-right: 15px;
}

.restaurant__list--card .new {
  background: var(--ter-color);
  border-radius: 3px;
  padding: 5px;
  color: #008766;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 10px;
}

@media (min-width: 1024px) {
  .restaurant__list--card {
    width: 490px;
  }
  .restaurant__list--card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant__list {
    margin-left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant__list a {
    width: 490px;
  }
  .restaurant__desktop {
    justify-self: center;
    width: 1000px;
  }
  .restaurants__titre {
    padding-left: 0px;
  }
}
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo h1 {
  font-family: "shrikhand", sans-serif;
  color: white;
  margin: 0px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__list ul {
  list-style-type: none;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.footer__list a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    height: 115px;
  }
  .footer__list ul {
    flex-direction: row;
    padding-top: 65px;
    gap: 20px;
  }
  .footer__logo {
    margin-right: 30px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */