* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --ter-color: #99E2D0;
}

p {
  margin: 0px;
}

body {
  margin: 0px;
}

/****** Header ***********/
header {
  position: relative;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__localisation {
  display: flex;
  font-size: 16px;
  justify-content: center;
  gap: 15px;
  background-color: #EAEAEA;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fleche {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fleche a {
  color: black;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 1s;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 5%;
    visibility: hidden;
  }
}
.intro__cta {
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: opacity 350ms;
}
.intro__cta:hover {
  opacity: 0.85;
}

.description__like .fa-solid {
  position: absolute;
}

.description__like .fa-regular {
  position: relative;
}

.heart-icon,
.heart-icon-solid {
  font-size: 22px;
}

.description__like {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
}

.heart-icon-solid {
  transform-origin: bottom;
  transform: scale(0);
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like__checkbox {
  display: none;
}

.like__checkbox:checked + .description__like .heart-icon-solid {
  animation: like 0.7s cubic-bezier(0.87, 0.01, 0.38, 1.01) forwards;
}

.like__checkbox:not(:checked) + .description__like .heart-icon-solid {
  animation: unlike 0.75s 50ms ease forwards;
}

.like__checkbox:checked + .description__like .heart-icon {
  animation: like--BG 1s ease forwards;
}

@keyframes like {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes like--BG {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes unlike {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
main {
  display: flex;
  flex-direction: column;
}

.photo__restaurant img {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__content {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -75px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  gap: 20px;
}

.nom__restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
}
.nom__restaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}

.description__like {
  margin-top: -5px;
  margin-left: 5px;
}

.sous-titre {
  font-weight: lighter;
  font-size: 20px;
}

.entrees .sous-titre {
  margin-top: -15px;
}

.trait {
  position: relative;
  top: -15px;
  width: 40px;
  height: 0px;
  border-top: 2px var(--ter-color) solid;
}

.ensemble__entrees,
.ensemble__plats,
.ensemble__desserts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description__plat {
  font-size: 15px;
  margin-left: 3px;
}

.nom__plat,
.prix {
  font-weight: bold;
  font-size: 18px;
}

h3 {
  margin: 3px;
}

.menu-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 320px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.menu-card .btn__check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 5px;
}

.plat {
  width: 90%;
}

.prix {
  width: 10%;
  transition: transform 330ms ease-in-out;
  position: relative;
  top: 25px;
  right: 0px;
}

.main__content .menu-card .check {
  position: absolute;
  left: 99%;
  top: -5px;
  color: white;
  background-color: #99e2d0;
  width: 59px;
  height: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 12px 12px 0;
  transition: transform 330ms ease-in-out;
}

.main__content .menu-card input[type=checkbox] {
  display: none;
}

.main__content .menu-card input[type=checkbox]:checked + label .check {
  transform: translateX(-58px);
}

.main__content .menu-card input[type=checkbox]:checked ~ .prix {
  transform: translateX(-50px);
}

.main__content .menu-card input[type=checkbox]:checked ~ .plat .description__plat {
  width: 220px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.intro__cta {
  margin: 40px;
}

.main__content .menu-card {
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  cursor: pointer;
}

.main__content .menu-card:nth-child(1) {
  animation-delay: 0.2s;
}

.main__content .menu-card:nth-child(2) {
  animation-delay: 0.4s;
}

.main__content .menu-card:nth-child(3) {
  animation-delay: 0.6s;
}

.main__content .menu-card:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 570px) {
  .photo__restaurant img {
    height: 380px;
    -o-object-position: center 60%;
    object-position: center 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1024px) {
  .menu-card {
    width: 635px;
  }
  .menu-card .check {
    left: 100%;
  }
  .main__content {
    width: 1024px;
    align-self: center;
  }
  .main__content .menu-card input[type=checkbox]:checked ~ .plat .description__plat {
    width: 400px;
  }
  .prix {
    right: -30px;
  }
}
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo h1 {
  font-family: "shrikhand", sans-serif;
  color: white;
  margin: 0px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__list ul {
  list-style-type: none;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.footer__list a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    height: 115px;
  }
  .footer__list ul {
    flex-direction: row;
    padding-top: 65px;
    gap: 20px;
  }
  .footer__logo {
    margin-right: 30px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=page_restaurant.css.map */