.intro__cta {
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    transition: opacity 350ms;

    &:hover {
        opacity: 0.85;
    }
}

.description__like {
    display: block;
    position: relative;
    margin-right: 20px;
    padding: 5px;
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description__like::before {
    content: "";
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.4s ease-in-out;
}

input[type="checkbox"]:checked+.description__like::before {
    clip-path: circle(150% att 50% 50%);
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
    cursor: pointer;
}

.description__like input:checked~.chekmark:after {
    display: block;
}

.description__like .fa-solid {
    background: -webkit-linear-gradient(var(--main-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ccc;

}

.fancy-checkbox input[type="checkbox"],
.description__like .checked {
    display: none;
}

.description__like input[type="checkbox"]:checked~.checked {
    display: inline-block;
    top: 100%;
}

.description__like input[type="checkbox"]:checked~.unchecked {
    display: none;
}